.comments {
  margin: auto;
  margin-top: 10px;
  width: 80%;
  border-radius: 16px;
  padding-left: 2%;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 3%;
}

.userName {
  color: black;
  font-size: 100%;
}

.userImage {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  margin-right: 3%;
}

.firstLine {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

.userGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90%;
  max-height: 13%;
}

.lineStars {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 10px;
  max-width: 60%;
}

.commentText {
  color: black;
}

.footer {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
}

.footerText {
  color: rgb(173, 172, 172);
  font-size: 80%;
}
