.phrase {
  text-align: center;
  padding: 7vh;
  background-color: #f5f7fa;
}

.title {
  font-size: 300%;
  font-weight: bold;
  color: #333;
}
.highlight {
  color: #f66731;
}
.arrow {
  max-width: 5%;
  max-height: 5%;
  margin-top: 10vh;
}
