/* estilos generales */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff 10%, #fff5f1 50%, #9e9692 90%);
}

.containerUser {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.25);
  margin-top: 3vh;
  margin-bottom: 4vh;
  padding: 10px;
  width: 90%;
  height: 400px;
}

.userImage {
  box-shadow: 0 0 15px rgb(0, 0, 0);
  border-radius: 16px;
  object-fit: cover;
  height: 80%;
  margin-left: 20px;
}

.userInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  margin-left: 10%;
}

.contactButton {
  background-color: #f66731;
  border: none;
  border-radius: 48px;
  color: white;
}

.contactButton:hover {
  background-color: #ffffff;
  border: #f66731 1px solid;
  color: #f66731;
}

.starsContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.starsFoto {
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
}

.cantComments {
  margin-left: 5%;
}
.commentsContainer {
  width: 70%;
  height: 30%;
}

/* Responsive Styles */
/* pantallas mas chicas que 768px */
@media (max-width: 768px) {
  .containerUser {
    width: 95%;
    flex-direction: column;

    margin: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .userImage {
    height: 200px;
    width: 200px;
    margin-bottom: 2vh;
  }
  .userInformation {
    margin-left: 0;
    align-items: center;
    width: 100%;
  }
  .contactButton {
    width: 80%;
    margin-top: 2vh;
    padding: 14px 28px;
  }
  .starsContainer {
    justify-content: center;
    margin-top: 1vh;
  }
  .commentsContainer {
    width: 90%;
    height: auto;
    margin-top: 2vh;
  }
}
