/* estilos generales */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.836);
}

.containerUser {
  display: flex;
  align-items: center;
  background-color: #fff5f2;
  box-shadow: 10px 10px 45px 0 rgba(0, 0, 0, 0.3);
  margin-top: 90px;
  margin-bottom: 4vh;
  padding: 10px;
  width: 90%;
  height: 400px;
  border-radius: 20px;
}

.userImage {
  box-shadow: 0 0 15px rgb(0, 0, 0);
  border-radius: 16px;
  object-fit: cover;
  height: 80%;
  margin-left: 20px;
}

.userInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  margin-left: 10%;
}

.contactButton {
  background-color: #f66731;
  border: none;
  border-radius: 48px;
  color: white;
}

.contactButton:hover {
  background-color: #ffffff;
  border: #f66731 1px solid;
  color: #f66731;
}

.starsContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.starsFoto {
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
}

.cantComments {
  margin-left: 5%;
}
.commentsContainer {
  width: 70%;
  height: 30%;
  min-height: 70vh;
}
.orderBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: row;
  margin-bottom: 60px;
  color: #fff;
}
.commentsContainer h1 {
  color: #333;
}
.orderbybutton {
  background-color: #f66631c5;
  color: #fff;
  border: none;
  border-radius: 16px;
  padding: 10px;
}
.orderbybutton:focus {
  border-radius: 16px 16px 0 0;
  transition: ease-in-out 5ms;
}

.orderbybutton option {
  border: 0;
  background-color: #6a6666;
}

/* Responsive Styles */
/* pantallas mas chicas que 768px */
@media (max-width: 768px) {
  .containerUser {
    width: 90%;
    flex-direction: column;
    margin: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    height: auto;
  }
  .userImage {
    height: 200px;
    width: 200px;
    margin-bottom: 2vh;
  }
  .userInformation {
    margin-left: 0;
    align-items: center;
    width: 100%;
  }
  .contactButton {
    width: 80%;
    margin-top: 2vh;
    padding: 14px 28px;
  }
  .starsContainer {
    justify-content: center;
    margin-top: 1vh;
  }
  .commentsContainer {
    width: 90%;
    height: auto;
    margin-top: 2vh;
  }
}
